li,
p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 768px) {
.container {
    padding: 0 150px;
}
}
hr {
    height: 3px;
    background: black;
}

@font-face {
    font-family: "Rod";
    src: url("rod.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@media screen and (min-width: 1200px) {
    #basicinfo {
        display: flex;
        justify-content: space-between;
    }

    #basicinfo>p:not(:last-of-type) {
        border-right: 2px solid black;
        padding-right: 20%;
    }

}

@media screen and (min-width: 1200px) {
    #education{
        display: flex; justify-content: space-between;
    }
}